*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: black;
    margin: 0; /* Optional: to remove default margin */
    padding: 0; /* Optional: to remove default padding */
}


@keyframes rainbow {
    0% { color: red; }
    14% { color: orange; }
    28% { color: yellow; }
    42% { color: green; }
    57% { color: blue; }
    71% { color: indigo; }
    85% { color: violet; }
    100% { color: red; }
}
h1 {
    text-align: center; /* Center the text horizontally */
    /* margin: 10 auto; Center the element horizontally within its container */
    margin-top: 40px;
    animation: rainbow 5s linear infinite; /* Combine animation properties */
    /* transform: translate(-50%, -50%); */
    z-index: 1;
    background-color: transparent;
    /* border: solid black 1px; */
    font-size: 50px;
    /* padding: 30px 10px; */
}

.carousel-container{
    width: 100%;
    margin: auto;
    /* border: 5px solid white; */
    overflow: hidden;
    position: relative;
    /* overflow-x: auto; Enable horizontal scrollbar */
}

.carousel-slide{
    display: flex;
    width: 300px;
    height: 300px;
    margin-top: 7%;
    padding-bottom: 20px;
}

.carousel-slide img{
    border-radius: 50%;
    border: 5px solid crimson;
}
#prevBtn{
    position: absolute;
    top: 60%;
    z-index:10;
    left: 5%;
    font-size: 30px;
    color: slategray;
    /* opacity: 0.5; */
    cursor: pointer;
    width: 30px; /* Set an appropriate width */
    height: 30px;
}

#nextBtn{
    position: absolute;
    top: 60%;
    z-index:10;
    right: 5%;
    font-size: 30px;
    color: slategray;
    opacity: 0.5;
    cursor: pointer;
}