/* home css */

#home {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: black;
}

#video-container {
    position: flex;
    top: 50%;
    left: 50%;
    width: 70%;
    height: 70%;
    /* transform: translate(-50%, -50%); Center precisely */
    overflow: hidden;
    z-index: -1;
}

video {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

@keyframes rainbow {
    0% { color: red; }
    14% { color: orange; }
    28% { color: yellow; }
    42% { color: green; }
    57% { color: blue; }
    71% { color: indigo; }
    85% { color: violet; }
    100% { color: red; }
}

#button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background-color: transparent;
    border: solid black 1px;
    font-size: 50px;
    animation: rainbow 5s linear infinite;
    padding: 30px 50px;
}

/* famous_people css */

#famousPeople {
    background-color: black;
    margin: 0; /* Optional: to remove default margin */
    padding: 0; /* Optional: to remove default padding */
}

#h1FamousPeople {
    text-align: center; /* Center the text horizontally */
    /* margin: 10 auto; Center the element horizontally within its container */
    margin-top: 40px;
    animation: rainbow 5s linear infinite; /* Combine animation properties */
    /* transform: translate(-50%, -50%); */
    z-index: 1;
    background-color: transparent;
    /* border: solid black 1px; */
    font-size: 30px;
    padding: 30px 5px;
}

.carousel-container{
    width: 100%;
    margin: auto;
    /* border: 5px solid white; */
    overflow: hidden;
    position: relative;
    /* overflow-x: auto; Enable horizontal scrollbar */
}

.carousel-slide{
    display: flex;
    width: 300px;
    height: 300px;
    margin-top: 7%;
    padding-bottom: 20px;
}

.carousel-slide img{
    border-radius: 50%;
    border: 5px solid crimson;
}
#prevBtn{
    position: absolute;
    top: 60%;
    z-index:10;
    left: 5%;
    font-size: 30px;
    color: slategray;
    /* opacity: 0.5; */
    cursor: pointer;
    width: 30px; /* Set an appropriate width */
    height: 30px;
}

#nextBtn{
    position: absolute;
    top: 60%;
    z-index:10;
    right: 5%;
    font-size: 30px;
    color: slategray;
    opacity: 0.5;
    cursor: pointer;
}

/* piece_page css */

#piecePage {
    background-color: black;
    margin: 0; /* Optional: to remove default margin */
    padding: 0; /* Optional: to remove default padding */
}

#h1PiecePage, h2, #pieceInfo {
    color: whitesmoke;
    padding-left: 30px;
}

p {
    font-size: large;
}

#backButtonDiv {
    padding: 10px;
}

#backButton {
    font-size: 15px;
    background-color: whitesmoke;
    padding: 5px;
    border: 3px solid blanchedalmond;
    border-radius: 20%;
}


